* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  position: relative;
  display: inline-block;
  width: 350px;
  border-radius: 10px;
  margin-top: 30vh;
  overflow: hidden;
  margin-left: 50px;
  padding: 30px 25px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.card1 {
  background: linear-gradient(
    350deg,
    rgba(255, 141, 151, 1) 0%,
    rgba(255, 186, 151, 1) 79%,
    rgba(254, 146, 170, 0.969625350140056) 100%
  );
}
.card2 {
  background: linear-gradient(
    132deg,
    rgba(120, 191, 243, 1) 0%,
    rgba(33, 141, 219, 1) 51%,
    rgba(22, 143, 224, 1) 100%
  );
}
.card3 {
  background: linear-gradient(
    71deg,
    rgba(116, 216, 208, 1) 0%,
    rgba(60, 212, 195, 1) 31%,
    rgba(0, 0, 0, 1) 100%
  );
}
.top-text {
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
}
.number {
  font-size: 35px;
  margin-bottom: 40px;
}
.botton-text {
  font-size: 14px;
}
.img1::after {
  content: url("../img/chart-line.svg");
  position: absolute;
  right: 0;
}
.img2::after {
  content: url("../img/bookmark.svg");
  position: absolute;
  right: 0;
}
.img3::after {
  content: url("../img/diamond.svg");
  position: absolute;
  right: 0;
}
.card::before {
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 70px;
  top: -10px;
  left: 270px;
  background-color: white;
  opacity: 0.2;
  position: absolute;
}
.card::after {
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 80px;
  top: 90px;
  left: 220px;
  background-color: white;
  opacity: 0.2;
  position: absolute;
}
